
{% if language == 'spanish'%}
<main class="pt-5 mt-5">
    <section class="aboutUs-Container mt-5">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="webDesign-tab" data-toggle="tab" href="#webDesign" role="tab" aria-controls="webDesign" aria-selected="true">Diseño Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="videoFotoSession-tab" data-toggle="tab" href="#videoFotoSession" role="tab" aria-controls="videoFotoSession" aria-selected="false">Contenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="communityManagement-tab" data-toggle="tab" href="#communityManagement" role="tab" aria-controls="communityManagement" aria-selected="false">Planeación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="integralService-tab" data-toggle="tab" href="#integralService" role="tab" aria-controls="integralService" aria-selected="false">Manejo de Redes Sociales</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="webDesign-Container pt-2 tab-pane fade show active" id="webDesign" role="tabpanel" aria-labelledby="home-tab">
                    <div class="mt-5 mb-5">
                        <div class="row mb-1 justify-content-center">
                            <h2 class="title-text C-text-darkgray text-center">Nuestro Servico</h2>
                        </div>
                        <div class="row justify-content-center"style="height: 2px;">
                            <div class="col-1 border-bottom border-dark"></div>
                        </div>
                    </div>
                    <div class="row justify-content-between flex-nowrap">
                        <!-- -->
                    </div>
                </div>
                <div class="tab-pane fade" id="videoFotoSession" role="tabpanel" aria-labelledby="videoFotoSession-tab">
                    <div class="mt-5 mb-5">
                        <div class="row mb-1 justify-content-center">
                            <h2 class="title-text C-text-darkgray text-center">Nuestro Servico</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-1 border-bottom border-dark"></div>
                        </div>
                    </div>
                    <div class="row justify-content-between flex-nowrap">
                        <!-- -->
                    </div>
                </div>
                <div class="tab-pane fade" id="communityManagement" role="tabpanel" aria-labelledby="communityManagement-tab">
                    <div class="mt-5 mb-5">
                        <div class="row mb-1 justify-content-center">
                            <h2 class="title-text C-text-darkgray text-center">Nuestro Servico</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-1 border-bottom border-dark"></div>
                        </div>
                    </div>
                    <div class="row justify-content-between flex-nowrap">
                        <!-- -->
                    </div>
                </div>
                <div class="tab-pane fade" id="integralService" role="tabpanel" aria-labelledby="integralService-tab">
                    <div class="mt-5 mb-5">
                        <div class="row mb-1 justify-content-center">
                            <h2 class="title-text C-text-darkgray text-center">Nuestro Servico</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-1 border-bottom border-dark"></div>
                        </div>
                    </div>
                    <div class="row justify-content-between flex-nowrap">
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endif %}

{% if language == 'english'%}
    <main class="pt-5 mt-5">
        <section class="aboutUs-Container mt-5">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="webDesign-tab" data-toggle="tab" href="#webDesign" role="tab" aria-controls="webDesign" aria-selected="true">Web Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="videoFotoSession-tab" data-toggle="tab" href="#videoFotoSession" role="tab" aria-controls="videoFotoSession" aria-selected="false">Content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="communityManagement-tab" data-toggle="tab" href="#communityManagement" role="tab" aria-controls="communityManagement" aria-selected="false">Planning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="integralService-tab" data-toggle="tab" href="#integralService" role="tab" aria-controls="integralService" aria-selected="false">Management of Social Networks</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="webDesign-Container pt-2 tab-pane fade show active" id="webDesign" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mt-5 mb-5">
                            <div class="row mb-1 justify-content-center">
                                <h2 class="title-text C-text-darkgray text-center">Our Service</h2>
                            </div>
                            <div class="row justify-content-center"style="height: 2px;">
                                <div class="col-1 border-bottom border-dark"></div>
                            </div>
                        </div>
                        <div class="row justify-content-between flex-nowrap">
                            <!-- -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="videoFotoSession" role="tabpanel" aria-labelledby="videoFotoSession-tab">
                        <div class="mt-5 mb-5">
                            <div class="row mb-1 justify-content-center">
                                <h2 class="title-text C-text-darkgray text-center">Our Service</h2>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-1 border-bottom border-dark"></div>
                            </div>
                        </div>
                        <div class="row justify-content-between flex-nowrap">
                            <!-- -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="communityManagement" role="tabpanel" aria-labelledby="communityManagement-tab">
                        <div class="mt-5 mb-5">
                            <div class="row mb-1 justify-content-center">
                                <h2 class="title-text C-text-darkgray text-center">Our Service</h2>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-1 border-bottom border-dark"></div>
                            </div>
                        </div>
                        <div class="row justify-content-between flex-nowrap">
                            <!-- -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="integralService" role="tabpanel" aria-labelledby="integralService-tab">
                        <div class="mt-5 mb-5">
                            <div class="row mb-1 justify-content-center">
                                <h2 class="title-text C-text-darkgray text-center">Our Service</h2>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-1 border-bottom border-dark"></div>
                            </div>
                        </div>
                        <div class="row justify-content-between flex-nowrap">
                            <!-- -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endif %}

<!-- Loading Screen -->
<div class="modal fade" id="loadingScreen" tabindex="-1" role="dialog" aria-labelledby="loadingScreenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; top: -50%;">
        <div class="C-horizontalAlignCenter">
            <div class="modal-header" style="visibility: hidden;">
                <button id="btn-LoadingScreenClose" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <img src="/img/loadingScreen/Spin.gif" style="width: 50px; height: 50px;">
        </div>
    </div>
</div>
