
{% if language == 'spanish'%}
<main>
    <section class="pricing-Container">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="webDesign-tab" data-toggle="tab" href="#webDesign" role="tab" aria-controls="webDesign" aria-selected="true">Diseño Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="videoFotoSession-tab" data-toggle="tab" href="#videoFotoSession" role="tab" aria-controls="videoFotoSession" aria-selected="false">Contenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="communityManagement-tab" data-toggle="tab" href="#communityManagement" role="tab" aria-controls="communityManagement" aria-selected="false">Planeación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="integralService-tab" data-toggle="tab" href="#integralService" role="tab" aria-controls="integralService" aria-selected="false">Manejo de Redes Sociales</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="webDesign-Container pt-2 tab-pane fade show active" id="webDesign" role="tabpanel" aria-labelledby="home-tab">
                    <div class="mt-5 mb-5">
                        <div class="row mb-1 justify-content-center">
                            <h2 class="title-text C-text-darkgray text-center">Paquetes Sugeridos</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-1 border-bottom border-dark"></div>
                        </div>
                    </div>
                    <div class="row justify-content-between flex-nowrap">
                        <div class="col-4 card mr-1 ml-1">
                            <div class="row justify-content-center">
                                <h2 class="display-4">Paquete Personal</h2>
                            </div>
                            <div class="row justify-content-center pb-2 mb-1">
                                <div class="col-10">
                                    <label class="text-justify text-info">Usa nuestra herramienta DEA y paga desde nuestro sitio web para que obtengas un 40% de descuento:</label>
                                    {#<div class="row justify-content-around">#}
                                        {#<label class="pricing-Text">$<span>1'000.20</span> MXN/apertura</label>#}
                                        {#<label class="secondaryPricing-Text text-through text-muted">$<span>1'667.00</span> MXN/apertura</label>#}
                                    {#</div>#}
                                    <div class="row justify-content-around">
                                        <label class="pricing-Text">$<span>35.00</span> USD/mes</label>
                                        <label class="secondaryPricing-Text text-through text-muted">$<span>58.34</span> USD/mes</label>
                                    </div>
                                </div>
                            </div>
                            {#<div class="row justify-content-center">#}
                            {#<label class="pricing-Text">$<span>1'867.00</span> MXN/apertura</label>#}
                            {#</div>#}
                            {#<div class="row justify-content-center">#}
                            {#<label class="pricing-Text">$<span>258.50</span> MXN/mes</label>#}
                            {#</div>#}
                            <table class="table pricingData-Text table-striped">
                                <tbody>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[1]</label></th>
                                    <td class="pt-1 pb-1"><label>Dominio Incluido</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[2]</label></th>
                                    <td class="pt-1 pb-1"><label>Cuenta de correo profesional</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[3]</label></th>
                                    <td class="pt-1 pb-1"><label>Servidor Incluido</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[4]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño de página web con multiples vistas</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[5]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño de Web Dashboard con Analitics</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[6]</label></th>
                                    <td class="pt-1 pb-1"><label>Página Web Auto-administrable</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[7]</label></th>
                                    <td class="pt-1 pb-1"><label>Aplicación de Temas Profesionales</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[8]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño adaptable a dispositivos móviles</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[9]</label></th>
                                    <td class="pt-1 pb-1"><label>Mantenimiento de página web</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[10]</label></th>
                                    <td class="pt-1 pb-1"><label>Página web 100% adaptable a múltiples exploradores</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[11]</label></th>
                                    <td class="pt-1 pb-1"><label>Entrega de Servicios con alta prioridad</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[12]</label></th>
                                    <td class="pt-1 pb-1"><label>Atención al Cliente por correo electrónico de Alta Prioridad</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[13]</label></th>
                                    <td class="pt-1 pb-1"><label>Certificación SSL</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[14]</label></th>
                                    <td class="pt-1 pb-1"><label>Incluye Publicidad de Google</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[15]</label></th>
                                    <td class="pt-1 pb-1"><label>Sistema de Defensa Anti-hackers</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row justify-content-center back-modal-link-size">
                                <!-- Button trigger see details modal -->
                                <span class="content-text C-text-darkgray"></span><a href="#" data-toggle="modal" data-target="#exampleModal1"><span class="title-text link-hover pl-1">ver detalles</span></a><span class="text-body"></span>
                            </div>
                        </div>
                        <div class="col-4 card mr-1 ml-1">
                            <div class="row justify-content-center">
                                <h2 class="display-4">Paquete Emprendedor</h2>
                            </div>
                            <div class="row justify-content-center pb-2 mb-1">
                                <div class="col-10">
                                    <label class="text-justify text-info">Usa nuestra herramienta DEA y paga desde nuestro sitio web para que obtengas un 40% de descuento:</label>
                                    {#<div class="row justify-content-around">#}
                                        {#<label class="pricing-Text">$<span>1'999.99</span> MXN/apertura</label>#}
                                        {#<label class="secondaryPricing-Text text-through text-muted">$<span>3'333.32</span> MXN/apertura</label>#}
                                    {#</div>#}
                                    <div class="row justify-content-around">
                                        <label class="pricing-Text">$<span>100.00</span> USD/mes</label>
                                        <label class="secondaryPricing-Text text-through text-muted">$<span>166.67</span> USD/mes</label>
                                    </div>
                                </div>
                            </div>
                            {#<div class="row justify-content-center">#}
                            {#<label class="pricing-Text">$<span>917.00</span> MXN/apertura</label>#}
                            {#</div>#}
                            {#<div class="row justify-content-center">#}
                            {#<label class="pricing-Text">$<span>483.50</span> MXN/mes</label>#}
                            {#</div>#}
                            <table class="table pricingData-Text table-striped">
                                <tbody>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[1]</label></th>
                                    <td class="pt-1 pb-1"><label>Dominio Incluido</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[2]</label></th>
                                    <td class="pt-1 pb-1"><label>Cuenta de correo profesional</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[3]</label></th>
                                    <td class="pt-1 pb-1"><label>Servidor Incluido</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[4]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño de página web con multiples vistas</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[5]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño de Web Dashboard con Analitics</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[6]</label></th>
                                    <td class="pt-1 pb-1"><label>Página Web Auto-administrable</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[7]</label></th>
                                    <td class="pt-1 pb-1"><label>Aplicación de Temas Profesionales</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[8]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño adaptable a dispositivos móviles</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[9]</label></th>
                                    <td class="pt-1 pb-1"><label>Mantenimiento de página web</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[10]</label></th>
                                    <td class="pt-1 pb-1"><label>Página web 100% adaptable a múltiples exploradores</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[11]</label></th>
                                    <td class="pt-1 pb-1"><label>Entrega de Servicios con alta prioridad</label></td>
                                    <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[12]</label></th>
                                    <td class="pt-1 pb-1"><label>Atención al Cliente por correo electrónico de Alta Prioridad</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[13]</label></th>
                                    <td class="pt-1 pb-1"><label>Certificación SSL</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[14]</label></th>
                                    <td class="pt-1 pb-1"><label>Incluye Publicidad de Google</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[15]</label></th>
                                    <td class="pt-1 pb-1"><label>Sistema de Defensa Anti-hackers</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row justify-content-center back-modal-link-size">
                                <!-- Button trigger see details modal -->
                                <span class="content-text C-text-darkgray"></span><a href="#" data-toggle="modal" data-target="#exampleModal2"><span class="title-text link-hover pl-1">ver detalles</span></a><span class="text-body"></span>
                            </div>
                        </div>
                        <div class="col-4 card mr-1 ml-1">
                            <div class="row justify-content-center">
                                <h2 class="display-4">Paquete Empresarial</h2>
                            </div>
                            <div class="row justify-content-center pb-2 mb-1">
                                <div class="col-10">
                                    <label class="text-justify text-info">Usa nuestra herramienta DEA y paga desde nuestro sitio web para que obtengas un 40% de descuento:</label>
                                    {#<label class="text-justify text-info">Usa nuestra herramienta DEA y paga desde nuestro sitio web para que obtengas un 40% de descuento:</label>#}
                                    {#<div class="row justify-content-around">#}
                                        {#<label class="pricing-Text">$<span>6'225.50</span> MXN/apertura</label>#}
                                        {#<label class="secondaryPricing-Text text-through text-muted">$<span>6'225.50</span> MXN/apertura</label>#}
                                    {#</div>#}
                                    <div class="row justify-content-around">
                                        <label class="pricing-Text">$<span>145.00</span> USD/mes</label>
                                        <label class="secondaryPricing-Text text-through text-muted">$<span>241.67</span> USD/mes</label>
                                    </div>
                                </div>
                            </div>
                            {#<div class="row justify-content-center">#}
                            {#<label class="pricing-Text">$<span>2'225.50</span> MXN/apertura</label>#}
                            {#</div>#}
                            {#<div class="row justify-content-center">#}
                            {#<label class="pricing-Text">$<span>1'383.50</span> MXN/mes</label>#}
                            {#</div>#}
                            <table class="table pricingData-Text table-striped">
                                <tbody>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[1]</label></th>
                                    <td class="pt-1 pb-1"><label>Dominio Incluido</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[2]</label></th>
                                    <td class="pt-1 pb-1"><label>Cuenta de correo profesional</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[3]</label></th>
                                    <td class="pt-1 pb-1"><label>Servidor Incluido</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[4]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño de página web con multiples vistas</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[5]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño de Web Dashboard con Analitics</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[6]</label></th>
                                    <td class="pt-1 pb-3"><label>Página Web Auto-administrable</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[7]</label></th>
                                    <td class="pt-1 pb-1"><label>Aplicación de Temas Profesionales</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[8]</label></th>
                                    <td class="pt-1 pb-1"><label>Diseño adaptable a dispositivos móviles</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-3" scope="row"><label>[9]</label></th>
                                    <td class="pt-1 pb-1"><label>Mantenimiento de página web</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[10]</label></th>
                                    <td class="pt-1 pb-1"><label>Página web 100% adaptable a múltiples exploradores</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[11]</label></th>
                                    <td class="pt-1 pb-1"><label>Entrega de Servicios con alta prioridad</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[12]</label></th>
                                    <td class="pt-1 pb-1"><label>Atención al Cliente por correo electrónico de Alta Prioridad</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[13]</label></th>
                                    <td class="pt-1 pb-1"><label>Certificación SSL</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[14]</label></th>
                                    <td class="pt-1 pb-1"><label>Incluye Publicidad de Google</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <th class="pt-1 pb-1" scope="row"><label>[15]</label></th>
                                    <td class="pt-1 pb-1"><label>Sistema de Defensa Anti-hackers</label></td>
                                    <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row justify-content-center back-modal-link-size">
                                <!-- Button trigger see details modal -->
                                <span class="content-text C-text-darkgray"></span><a href="#" data-toggle="modal" data-target="#exampleModal3"><span class="title-text link-hover pl-1">ver detalles</span></a><span class="text-body"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="videoFotoSession" role="tabpanel" aria-labelledby="videoFotoSession-tab">Contenido</div>
                <div class="tab-pane fade" id="communityManagement" role="tabpanel" aria-labelledby="communityManagement-tab">Planeación</div>
                <div class="tab-pane fade" id="integralService" role="tabpanel" aria-labelledby="integralService-tab">Manejo de Redes Sociales</div>
            </div>
        </div>
    </section>

    <!-- See details webdesign personal package -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title-text C-text-black" id="exampleModalLabel1">Detalles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12">
                            <div class="card-header">
                                <ul>
                                    <li class="content-text">[1] Dominios con terminación ".com"/".com.mx"</li>
                                    <li class="content-text">[2] 3 Cuentas de correo electrónico profesional max.</li>
                                    <li class="content-text">[3] 3GB de Almacenamiento</li>
                                    <li class="content-text">[4] Este paquete incluye solo 1 vista</li>
                                    <li class="content-text">[9] Estrictamente mantenimiento mensual</li>
                                    <li class="content-text">[10] Pág. Web adaptable 100% a Google Chrome</li>
                                    <li class="content-text">[11] Entrega de servicios a mas tardar 1 semana</li>
                                    <li class="content-text">[13] Pág. Web certificada, segura y con prioridad en buscador Google</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn C-bg-black" data-dismiss="modal"><span class="title-text C-text-yellow">Entendido</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- See details webdesign entrepreneurship package -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title-text C-text-black" id="exampleModalLabel2">Detalles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12">
                            <div class="card-header">
                                <ul>
                                    <li class="content-text">[1] Dominios con terminación ".com"/".com.mx"</li>
                                    <li class="content-text">[2] 10 Cuentas de correo electrónico profesional max.</li>
                                    <li class="content-text">[3] 10GB de Almacenamiento</li>
                                    <li class="content-text">[4] Este paquete incluye solo 3 vistas max. (+1 adicional para un Dashboard definido por DraftMedia)</li>
                                    <li class="content-text">[5] Analiza a tus clientes que visitan tu página y que es lo que les gusta consultar en ella</li>
                                    <li class="content-text">[9] Mantenimiento Web quincenal</li>
                                    <li class="content-text">[10] Pág. Web adaptable 100% a Google Chrome</li>
                                    <li class="content-text">[11] Entrega de servicios a mas tardar 2 semanas</li>
                                    <li class="content-text">[13] Pág. Web certificada, segura y con prioridad en buscador Google</li>
                                    <li class="content-text">[15] Este sistema monitorea, identifica y mantiene un registro de cualquier intento de hackeo a tu sitio web, haciéndolo cada vez mas fuerte contra este tipo de ataques.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn C-bg-black" data-dismiss="modal"><span class="title-text C-text-yellow">Entendido</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- See details webdesign business package -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title-text C-text-black" id="exampleModalLabel3">Detalles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12">
                            <div class="card-header">
                                <ul>
                                    <li class="content-text">[1] Dominios con terminación ".com"/".com.mx"</li>
                                    <li class="content-text">[2] 50 Cuentas de correo electrónico profesional max.</li>
                                    <li class="content-text">[3] 20GB de Almacenamiento</li>
                                    <li class="content-text">[4] Este paquete incluye 8 vistas como máximo en el diseño de la página</li>
                                    <li class="content-text">[5] Analiza a tus clientes que visitan tu página y que es lo que les gusta consultar en ella</li>
                                    <li class="content-text">[6] Auto-administra el contenido de tu página web desde el Web Dashboard</li>
                                    <li class="content-text">[7] Uso de diseños-temas visuales profesionales de paga que harán que tu página web se vea extraordinaria</li>
                                    <li class="content-text">[9] Mantenimiento Web semanal</li>
                                    <li class="content-text">[10] Pág. Web adaptable 100% a Google Chrome, Mozilla Firefox e Internet Explorer</li>
                                    <li class="content-text">[11] Entrega de servicios en 1-4 semanas, según la complejidad del trabajo solicitado</li>
                                    <li class="content-text">[13] Pág. Web certificada, segura y con prioridad en buscador Google</li>
                                    <li class="content-text">[15] Este sistema monitorea, identifica y mantiene un registro de cualquier intento de hackeo a tu sitio web, haciéndolo cada vez mas fuerte contra este tipo de ataques.</li>
                                    {#<li class="content-text">[NOTA] El costo de renovación anual es de $2'225.50 MXN. Sin embargo, si se paga desde este sitio web, se ofrece un 40% de descuento ($1'335.30 MXN)</li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn C-bg-black" data-dismiss="modal"><span class="title-text C-text-yellow">Entendido</span></button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}

{% if language == 'english'%}
    <main>
        <section class="pricing-Container">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="webDesign-tab" data-toggle="tab" href="#webDesign" role="tab" aria-controls="webDesign" aria-selected="true">Web Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="videoFotoSession-tab" data-toggle="tab" href="#videoFotoSession" role="tab" aria-controls="videoFotoSession" aria-selected="false">Content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="communityManagement-tab" data-toggle="tab" href="#communityManagement" role="tab" aria-controls="communityManagement" aria-selected="false">Planning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="integralService-tab" data-toggle="tab" href="#integralService" role="tab" aria-controls="integralService" aria-selected="false">Management of Social Networks</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="webDesign-Container pt-2 tab-pane fade show active" id="webDesign" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mt-5 mb-5">
                            <div class="row mb-1 justify-content-center">
                                <h2 class="title-text C-text-darkgray text-center">Suggested Packages</h2>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-1 border-bottom border-dark"></div>
                            </div>
                        </div>
                        <div class="row justify-content-between flex-nowrap">
                            <div class="col-4 card mr-1 ml-1">
                                <div class="row justify-content-center">
                                    <h2 class="display-4">Personal Package</h2>
                                </div>
                                <div class="row justify-content-center pb-2 mb-1">
                                    <div class="col-10">
                                        <label class="text-justify text-info">Use our DEA tool and pay from our website to get a 40% discount:</label>
                                        <div class="row justify-content-around">
                                            <label class="pricing-Text">$<span>35.00</span> USD/month</label>
                                            <label class="secondaryPricing-Text text-through text-muted">$<span>58.34</span> USD/month</label>
                                        </div>
                                    </div>
                                </div>
                                <table class="table pricingData-Text table-striped">
                                    <tbody>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[1]</label></th>
                                        <td class="pt-1 pb-1"><label>Domain Included</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[2]</label></th>
                                        <td class="pt-1 pb-1"><label>Professional email account</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[3]</label></th>
                                        <td class="pt-1 pb-1"><label>Server Included</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[4]</label></th>
                                        <td class="pt-1 pb-1"><label>Website design with multiple views</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[5]</label></th>
                                        <td class="pt-1 pb-1"><label>Web Design Dashboard with Analitics</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[6]</label></th>
                                        <td class="pt-1 pb-1"><label>Self-Administered Web Site</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[7]</label></th>
                                        <td class="pt-1 pb-1"><label>Application of Professional Themes</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[8]</label></th>
                                        <td class="pt-1 pb-1"><label>Design adaptable to mobile devices</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[9]</label></th>
                                        <td class="pt-1 pb-1"><label>Website maintenance</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[10]</label></th>
                                        <td class="pt-1 pb-1"><label>Website 100% adaptable to multiple browsers</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[11]</label></th>
                                        <td class="pt-1 pb-1"><label>Delivery of services with high priority</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[12]</label></th>
                                        <td class="pt-1 pb-1"><label>Customer service by email with high priority response</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[13]</label></th>
                                        <td class="pt-1 pb-1"><label>SSL Certification</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[14]</label></th>
                                        <td class="pt-1 pb-1"><label>Includes Google Advertising</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[15]</label></th>
                                        <td class="pt-1 pb-1"><label>Anti-hackers Defense System</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row justify-content-center back-modal-link-size">
                                    <!-- Button trigger see details modal -->
                                    <span class="content-text C-text-darkgray"></span><a href="#" data-toggle="modal" data-target="#exampleModal1"><span class="title-text link-hover pl-1">see details</span></a><span class="text-body"></span>
                                </div>
                            </div>
                            <div class="col-4 card mr-1 ml-1">
                                <div class="row justify-content-center">
                                    <h2 class="display-4">Entrepreneur Package</h2>
                                </div>
                                <div class="row justify-content-center pb-2 mb-1">
                                    <div class="col-10">
                                        <label class="text-justify text-info">Use our DEA tool and pay from our website to get a 40% discount:</label>
                                        <div class="row justify-content-around">
                                            <label class="pricing-Text">$<span>100.00</span> USD/month</label>
                                            <label class="secondaryPricing-Text text-through text-muted">$<span>166.67</span> USD/month</label>
                                        </div>
                                    </div>
                                </div>
                                <table class="table pricingData-Text table-striped">
                                    <tbody>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[1]</label></th>
                                        <td class="pt-1 pb-1"><label>Domain Included</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[2]</label></th>
                                        <td class="pt-1 pb-1"><label>Professional email account</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[3]</label></th>
                                        <td class="pt-1 pb-1"><label>Server Included</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[4]</label></th>
                                        <td class="pt-1 pb-1"><label>Website design with multiple views</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[5]</label></th>
                                        <td class="pt-1 pb-1"><label>Web Design Dashboard with Analitics</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[6]</label></th>
                                        <td class="pt-1 pb-1"><label>Self-Administered Web Site</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[7]</label></th>
                                        <td class="pt-1 pb-1"><label>Application of Professional Themes</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[8]</label></th>
                                        <td class="pt-1 pb-1"><label>Design adaptable to mobile devices</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[9]</label></th>
                                        <td class="pt-1 pb-1"><label>Website maintenance</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[10]</label></th>
                                        <td class="pt-1 pb-1"><label>Website 100% adaptable to multiple browsers</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[11]</label></th>
                                        <td class="pt-1 pb-1"><label>Delivery of services with high priority</label></td>
                                        <td class="pt-1 pb-1"><i class="ni ni-fat-remove text-danger display-4"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[12]</label></th>
                                        <td class="pt-1 pb-1"><label>Customer service by email with high priority response</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[13]</label></th>
                                        <td class="pt-1 pb-1"><label>SSL Certification</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[14]</label></th>
                                        <td class="pt-1 pb-1"><label>Includes Google Advertising</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[15]</label></th>
                                        <td class="pt-1 pb-1"><label>Anti-hackers Defense System</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row justify-content-center back-modal-link-size">
                                    <!-- Button trigger see details modal -->
                                    <span class="content-text C-text-darkgray"></span><a href="#" data-toggle="modal" data-target="#exampleModal2"><span class="title-text link-hover pl-1">see details</span></a><span class="text-body"></span>
                                </div>
                            </div>
                            <div class="col-4 card mr-1 ml-1">
                                <div class="row justify-content-center">
                                    <h2 class="display-4">Business Package</h2>
                                </div>
                                <div class="row justify-content-center pb-2 mb-1">
                                    <div class="col-10">
                                        <label class="text-justify text-info">Use our DEA tool and pay from our website to get a 40% discount:</label>
                                        <div class="row justify-content-around">
                                            <label class="pricing-Text">$<span>145.00</span> USD/month</label>
                                            <label class="secondaryPricing-Text text-through text-muted">$<span>241.67</span> USD/month</label>
                                        </div>
                                    </div>
                                </div>
                                <table class="table pricingData-Text table-striped">
                                    <tbody>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[1]</label></th>
                                        <td class="pt-1 pb-1"><label>Domain Included</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[2]</label></th>
                                        <td class="pt-1 pb-1"><label>Professional email account</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[3]</label></th>
                                        <td class="pt-1 pb-1"><label>Server Included</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[4]</label></th>
                                        <td class="pt-1 pb-1"><label>Website design with multiple views</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[5]</label></th>
                                        <td class="pt-1 pb-1"><label>Web Design Dashboard with Analitics</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[6]</label></th>
                                        <td class="pt-1 pb-2"><label>Self-Administered Web Site</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[7]</label></th>
                                        <td class="pt-1 pb-1"><label>Application of Professional Themes</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[8]</label></th>
                                        <td class="pt-1 pb-1"><label>Design adaptable to mobile devices</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[9]</label></th>
                                        <td class="pt-1 pb-1"><label>Website maintenance</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[10]</label></th>
                                        <td class="pt-1 pb-1"><label>Website 100% adaptable to multiple browsers</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[11]</label></th>
                                        <td class="pt-1 pb-1"><label>Delivery of services with high priority</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[12]</label></th>
                                        <td class="pt-1 pb-1"><label>Customer service by email with high priority response</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[13]</label></th>
                                        <td class="pt-1 pb-1"><label>SSL Certification</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[14]</label></th>
                                        <td class="pt-1 pb-1"><label>Includes Google Advertising</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <th class="pt-1 pb-1" scope="row"><label>[15]</label></th>
                                        <td class="pt-1 pb-1"><label>Anti-hackers Defense System</label></td>
                                        <td class="pt-1 pb-1"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row justify-content-center back-modal-link-size">
                                    <!-- Button trigger see details modal -->
                                    <span class="content-text C-text-darkgray"></span><a href="#" data-toggle="modal" data-target="#exampleModal3"><span class="title-text link-hover pl-1">see details</span></a><span class="text-body"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="videoFotoSession" role="tabpanel" aria-labelledby="videoFotoSession-tab">Content</div>
                    <div class="tab-pane fade" id="communityManagement" role="tabpanel" aria-labelledby="communityManagement-tab">Planning</div>
                    <div class="tab-pane fade" id="integralService" role="tabpanel" aria-labelledby="integralService-tab">Management of Social Networks</div>
                </div>
            </div>
        </section>

        <!-- See details webdesign personal package -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="title-text C-text-black" id="exampleModalLabel1">Personal Package Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-12">
                                <div class="card-header">
                                    <ul>
                                        <li class="content-text">[1] Domains with ".com" / ".com.mx" ending</li>
                                        <li class="content-text">[2] 3 Professional email accounts max.</li>
                                        <li class="content-text">[3] 3GB of Storage</li>
                                        <li class="content-text">[4] This package includes only 1 view</li>
                                        <li class="content-text">[9] Strictly monthly maintenance</li>
                                        <li class="content-text">[10] Web page 100% adaptable to Google Chrome</li>
                                        <li class="content-text">[11] Delivery of services no later than 1 week</li>
                                        <li class="content-text">[13] Website certified, secure and with priority in Google search engine</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn C-bg-black" data-dismiss="modal"><span class="title-text C-text-yellow">Understood</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- See details webdesign entrepreneurship package -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="title-text C-text-black" id="exampleModalLabel2">Entrepreneur Package Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-12">
                                <div class="card-header">
                                    <ul>
                                        <li class="content-text">[1] Domains with ".com" / ".com.mx" ending</li>
                                        <li class="content-text">[2] 10 Professional email accounts max.</li>
                                        <li class="content-text">[3] 10GB of Storage</li>
                                        <li class="content-text">[4] This package includes only 1 view max. (+1 additional for a default Dashboard with analytics defined by DraftMedia)</li>
                                        <li class="content-text">[5] Analyze the potential customers who visit your website and what they like to consult in it</li>
                                        <li class="content-text">[7] Use of paid professional visual-themes that will make your website look extraordinary</li>
                                        <li class="content-text">[9] Biweekly Web Maintenance</li>
                                        <li class="content-text">[10] Web page 100% adaptable to Google Chrome</li>
                                        <li class="content-text">[11] Delivery of services no later than 2 week</li>
                                        <li class="content-text">[13] Website certified, secure and with priority in Google search engine</li>
                                        <li class="content-text">[15] This system monitors, identifies and maintains a record of any hacking attempt on your website, making it increasingly stronger against this type of attacks.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn C-bg-black" data-dismiss="modal"><span class="title-text C-text-yellow">Understood</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- See details webdesign business package -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="title-text C-text-black" id="exampleModalLabel3">Business Package Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-12">
                                <div class="card-header">
                                    <ul>
                                        <li class="content-text">[1] Domains with ".com" / ".com.mx" ending</li>
                                        <li class="content-text">[2] 50 Professional email accounts max.</li>
                                        <li class="content-text">[3] 20GB of Storage</li>
                                        <li class="content-text">[4] This package includes a maximum of 8 views in the design of the website</li>
                                        <li class="content-text">[5] Analyze the potential customers who visit your website and what they like to consult in it</li>
                                        <li class="content-text">[6] Self-administer the content of your website from the Web Dashboard</li>
                                        <li class="content-text">[7] Use of paid professional visual-themes that will make your website look extraordinary</li>
                                        <li class="content-text">[9] Weekly Web Maintenance</li>
                                        <li class="content-text">[10] Web page 100% adaptable to Google Chrome, Mozilla Firefox and Internet Explorer</li>
                                        <li class="content-text">[11] Delivery of services in 1-4 weeks, depending on the complexity of the work requested</li>
                                        <li class="content-text">[13] Website certified, secure and with priority in Google search engine</li>
                                        <li class="content-text">[15] This system monitors, identifies and maintains a record of any hacking attempt on your website, making it increasingly stronger against this type of attacks.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn C-bg-black" data-dismiss="modal"><span class="title-text C-text-yellow">Understood</span></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endif %}

<!-- Loading Screen -->
<div class="modal fade" id="loadingScreen" tabindex="-1" role="dialog" aria-labelledby="loadingScreenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; top: -50%;">
        <div class="C-horizontalAlignCenter">
            <div class="modal-header" style="visibility: hidden;">
                <button id="btn-LoadingScreenClose" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <img src="/img/loadingScreen/Spin.gif" style="width: 50px; height: 50px;">
        </div>
    </div>
</div>
